.bloc {
    margin: auto;
    max-width: 1200px;
    min-width: 700px;
    background-color: #001124;
    display: flex;
}

.bloc>div {
    width: 50%;
    margin: 10% 0;
}

.image>img {
    width: 90%;
}

.bloc__login {
    display: flex;
    align-items: center;
}

.login {
    width: 50%;
    margin-left: 10%;
}

.login__tytle {
    color: white;
    font-size: 3em;
    padding-bottom: 1em;
}

label {
    color: white;
}

.icon__input__e input {
    width: 100%;
    height: 2em;
}

.icon__input__s input {
    width: 50%;
    height: 2.5em;
    background-color: #015FC7;
    color: white;
}

.icon__input__s a {
    text-decoration: none;
    color: #499FFE;
}